@import '../../styles/mixin.styl'

.hive-btn
  display inline-flex
  align-items center
  justify-content center
  padding 0 32PX
  height 44PX
  border-radius 8PX
  font-size 16PX
  box-sizing border-box

  &--default
    background-color #ffffff
    color #333333
    halfBorder(top left right bottom, var(--lineBorder), 16PX)

  &--primary
    background-color var(--primary)
    color #ffffff
    border none