@import '../../styles/mixin.styl'
@import '../../styles/variable.styl'

.card
  border-radius 10PX
  overflow hidden
  background-color var(--containerCard)
  margin-left $WING_BLANK
  margin-right $WING_BLANK
  transition background-color 0.1s
  &.show-top-gutter
    margin-top $GUTTER_BLANK
  &.show-bottom-gutter
    margin-bottom $GUTTER_BLANK
  &.show-top-blank
    margin-top $CARD_BLANK
  &.is-clickable
    cursor pointer
    &:active
      background-color rgba(0, 0, 0, 0.03)