@import '../../styles/mixin.styl'

.add-card
  display flex
  flex-direction row
  align-items center
  justify-content center
  padding 20PX 10PX

.add-card-content
  display flex
  flex-direction row
  align-items center

.add-card-text
  color var(--primary)
  font-size 15PX
  font-weight 500
  line-height 1
  margin-left 6PX